<div class="bg-zinc-900 text-white flex h-screen">
  <%= render 'layouts/sidebar' %>

  <!-- Div principal que ocupa o restante da tela -->
  <div class="flex-1 flex flex-col overflow-hidden">
    
    <!-- Conteúdo com rolagem -->
    <div class="flex-1 overflow-y-auto p-8">
      <h1 class="text-4xl">Usuários pendentes</h1>

      <table class="border-collapse border border-slate-500 mt-8">
        <thead class="bg-slate-700">
          <tr>
            <th class="border border-slate-600 p-2">Email</th>
            <th class="border border-slate-600 p-2">Aprovar</th>
          </tr>
        </thead>
        <tbody class="bg-slate-800">
          <% @users.each do |user| %>
            <tr>
              <td class="border border-slate-700 p-2"><%= user.email %></td>
              <td class="border border-slate-700 p-2">
                <%= link_to 'Aprovar', approve_user_path(user), method: :patch, data: { confirm: 'Tem certeza?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
    
  </div>
</div>
