<h1>Pending Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Approve</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Approve', approve_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
